header{
    background-color: black;
}

body{
    background-color: black;
}

.round{
    background-color: darkblue;
    border-radius: 0px 0px 10px 10px;
    height: 80px;
    padding: 20px;
    background-color: black;
    border: white solid 1px;
}

.offcanvas_subtitle{
    margin-top: 10px;
    margin-bottom: 0;
}

.link{
    display: flex;
    border: white solid 1px;
    padding:5px;
    width: 60px;
    border-radius: 6px;
    color: white;
}

.link:hover{
    color: black;
    background-color: white;
}

.header_nav_char{
    padding-left: 0; 
    display: inline-block;
}

.btn-primary{
    background-color: black;
    --bs-btn-border-color:white;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: black;
    --bs-btn-active-border-color: none;
}

.btn-primary:hover{
    background-color: white;
    color:black;
}

.btn-primary:active{
    background-color: black;
    color:white;
}

h1{
    margin-top: 50px;
    margin-bottom: 0px;
}

main h1{
    margin-bottom: 50px;
}

main{
    padding: 50px;
    background-color: black;
    color: white;
}

.info_buttons{
    padding-top: 20px;
}

footer{
    background-color: grey;
    height: 200px;
    display: flex;
    align-items: center;
}

/*Villans*/

.villan_img{
    height: 512px;
    width: 640px;
    object-fit: contain;
    
}

